<div [@routerTransition]>
  <section class="row main-container px-md-4 px-lg-5">
    <div class="card">
            <nav class="navbar navbar-expand-lg mb-3">
                    <a class="navbar-brand" routerLink="/email-campaigns">{{ 'Mail Campaigns' | translate }}</a>
                    <button class="navbar-toggler" type="button">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                      </li>
                    </ul>
                    <div class="form-inline">
                      <div class="collapse navbar-collapse">
                        <input
                          class="form-control mr-sm-2"
                          type="search"
                          placeholder="{{ 'Search' | translate }}"
                          [(ngModel)]="searchText"
                          aria-label="'Filter'"
                        />
                      </div>
                      <button class="btn btn-outline-info mr-sm-2" (click)="newFile()" type="submit">{{ 'Add' | translate }}</button>
                      <button *ngIf="emailLists.length > 0" class="btn btn-outline-danger mr-sm-2" (click)="clearEmailList()" type="submit">
                        {{ 'Delete All' | translate }}
                      </button>
                    </div>
                  </nav>
        <div class="card-body">
        <table class="card-body table table-hover" *ngIf="emailLists.length > 0">
            <thead>
            <tr>
                <th scope="col" sortable="name" (sort)="onSort($event)">{{ 'List' | translate }}</th>
                <th scope="col" sortable="subscribedEmails" (sort)="onSort($event)">{{ 'Subscribed mails' | translate }}</th>
                <th scope="col" sortable="unSubscribedEmails" (sort)="onSort($event)">{{ 'Unsubscribed mails' | translate }}</th>
                <th>{{ 'Actions' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let l of emailLists | emailFilter: searchText">
                <td>{{ l.name }}</td>
                <td>{{ l.subscribedEmails.length }}</td>
                <td>{{ l.unSubscribedEmails.length }}</td>
                <td>
                <app-drop-down
                    [title]="'Actions' | translate"
                    [actions]="[{ action: 'Analize', id: l.name }, { action: 'Delete', id: l.name }]"
                    (actionClick)="onAction($event)"
                >
                </app-drop-down>
                </td>
            </tr>
            </tbody>
        </table>
        <p *ngIf="emailLists.length < 1" class="card-text">{{ 'No files added. Add xlsx or zip files using Add button' | translate }}</p>
        </div>
    </div>
  </section>
</div>
